<div class="main flex flex-row dark:text-white text-black">
    <button class="fixed top-5 right-5 z-50 text-2xl" onclick="toggleDarkMode(event)">
        <i class="fa-solid fa-toggle-on dark:text-white text-black transition-all"></i>
    </button>
    <button class="fixed top-5 left-5 z-50 md:hidden" onclick="toggleMenu(event)">
        <i class="fa-solid fa-circle-chevron-down fa-2x -rotate-90 transition-all"></i>
    </button>
    <div class="leftpart flex" id="menu">
        <div class="flex flex-col gap-24 ">
            <h3 class="text-3xl font-bold tracking-widest">ZENEX</h3>
            <ul class="flex flex-col gap-2 font-semibold text-gray-400">

                {{ range .Site.Menus.main }}
                <li class="k-hover cursor-pointer {{ if eq .Params.active true }}active{{end}}">
                    <a class="nav-link" href="{{ .URL }}">
                        {{ if .Pre }}
                        {{ $icon := printf "<i class=\"fa-solid fa-%s mr-2\"></i> " .Pre | safeHTML }}
                        {{ $icon }}
                        {{ end }}
                        {{ $text := print .Name | safeHTML }}
                        {{ $text }}
                    </a>
                </li>
                {{ end }}

                {{/* <li class="text-black dark:text-white k-hover cursor-pointer"><i class="fa-solid fa-house"></i>
                    &nbsp; Home</li>
                <li class="k-hover cursor-pointer"><i class="fa-solid fa-feather"></i> &nbsp; Blog</li>
                <li class="k-hover cursor-pointer"><i class="fa-solid fa-circle-info"></i> &nbsp; About</li>
                <li class="k-hover cursor-pointer"><i class="fa-solid fa-envelope"></i> &nbsp; Subscribe</li>
                <li class="k-hover cursor-pointer"><i class="fa-solid fa-address-card"></i> &nbsp; Contact Me</li> */}}
            </ul>
            <div class="text-sm">
                <h5>©2023 Zenex Tech</h5>
                <h5>Created By Javed Hussain</h5>
            </div>
        </div>
    </div>